<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arcmine.mapper.RegisterMapper">
    <insert id="register" >
        insert into user value (null,#{account},#{password},concat('user',#{account}),null,'男',0,'2000/1/1')
    </insert>
</mapper>